html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Dashboard
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    style.
      .outerbox{
      display: flex;
      justify-content: center;
      height:50%;
      }
      .innerbox{
      width:80%;
      height:100%;
      }
  body
    .outerbox
      .container.innerbox
        h1(style='font-family: monospace;text-align: center;') Dashboard
        h3#email #{email}
        form(onsubmit='createShort();return false')
          .form-group
            label(for='longurl') Long URL
            input#longurl.form-control(type='text', placeholder='Enter Long URL')
          button.btn.btn-primary(type='submit') Create Short
    script.
      /*async function createShort(){
      let data = {
      email:document.getElementById("email").value,
      password:document.getElementById("password").value
      }
      let resData = await fetch("http://localhost:3000/login",{
      method:"POST",
      body:JSON.stringify(data),
      headers: {
      'Content-Type': 'application/json'
      }
      })
      let loginRes = await resData.json()
      }*/
